.i:hover:hover{
   color:rgb(255, 255, 255) !important;
    font-size: 130%!important;
    transition-duration:0.4s!important;
    border: 1px, !important;
    
}

.bg1{
    background-color: #164B60 !important;
}
/***** Javier ******/ 

.bg2{
  background-color: #5f8b94a8 !important;
}

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

/***** Fin Javier ******/ 

.col1{
    color: rgb(255, 255, 255) !important;
    padding-left: 2%;
    
}

.nav-link{
    color: rgb(0, 0, 0) !important;
}


/* desde aca custom  */

.btn-primary {
    color: #fff !important;
    background-color: #108A97 !important;
    border-color: #108A97 !important; }
    .btn-primary:hover {
      color: #fff !important;
      background-color: #0c6a74 !important;
      border-color: #0b6069 !important; }
    .btn-primary:focus, .btn-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(16, 138, 151, 0.5) !important; }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff !important;
      background-color: #108A97 !important;
      border-color: #108A97 !important; }