<footer class="nb-footer">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
  <div class="about">
    <img src="../public/img/logo_100x100.jpg" class="img-responsive center-block" alt="">
    <p>"El Principal objetivo de la educacion es criar personas capaces de hacer cosas nuevas y no solo repetir lo que otras generaciones hicieron".<br><strong>Jean Piaget</strong></p>
  
    <div class="social-media">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://m.facebook.com/ens40NivelSuperior" target="_blank" title="Facebook ENS. 40"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="https://www.instagram.com/ens40_nivelsuperior/?hl=es" target="_blank" title="Instagram ENS. 40"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  </div>
  
  </div>
  </div>
  
  <section class="copyright">
  <div class="container">
  <div class="row">
  <div class="col-sm-6">
  <p>Copyright © 2022. <a href="mailto:jfontanellaz@gmail.com">
    <strong>San Crist&oacute;bal programa.</strong>
  </a>
  </p>
  </div>
  <div class="col-sm-6"></div>
  </div>
  </div>
  </section>
  </footer>