<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
<link rel="shortcut icon" href="../public/img/favicon.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/select2-bootstrap.css" />
<link rel="stylesheet" href="../public/css/select2.min.css" />
<link rel="stylesheet" href="../public/css/jquery-ui.css">
 <!-- CUSTOM CSS -->
<link rel="stylesheet" href="../public/css/footer.css" />

<style>
        .dropdown-item:hover{
          background-color: #CFC290;
        }
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 40px !important;
        }
        .select2-selection__arrow {
            height: 40px !important;
        }
        
</style>
<title>Sistema de Alumnado</title>
